@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

body {
  font-family: "Muli", sans-serif;
  color: #fff;
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.3rem 2.5rem;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

p a {
  color: lightblue;
  text-decoration: none;
}

.btn {
  display: inline-block;
  width: 100%;
  color: #333;
  background-color: #add8e6;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  cursor: pointer;
  font-weight: 600;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  scale: 0.98;
}

.form-control {
  position: relative;
  margin-bottom: 2rem;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem 0 0.5rem;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 1.1rem;
  min-width: 5px;
  transition: transform 0.3s ease-in;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
